
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap'); */

@font-face{
    font-family: "Montserat";
    src: url('./Montserrat-LightItalic.ttf');
}
@font-face {
    font-family: "Bebas Neue";
    src: url('./BebasNeue-Regular.ttf');
}

.subheader{
    color: theme('colors.red.DEFAULT');
    font-size: 30px;
    /* @apply container; */
}
p{
    padding: 10px 0px;
}

.warning{
    color: theme('colors.red.DEFAULT');
    font-size: 150px;
    text-shadow: -4px 4px theme('colors.blue.DEFAULT');
}
.text-blue{
    color: theme('colors.blue.DEFAULT');
}
.text-red{
    color: theme('colors.red.DEFAULT');
}

body{
    font-family: "Montserrat";
}

.headerfont{
    font-family: "Bebas Neue";
}